<div class="message <%= message.user == current_user ? "recipient" : "sender" %>">
<%# <div class="message"> %>
  <small>
    <strong><%= message.user.first_name %></strong>
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </small>
  <p><%= message.text %></p>
</div>
