// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$grey-light: #f0f2f2;
$grey-medium: #BFC6C5;
$grey-dark: #5D6664;
$black: #060F0E;
$mint: #7BC5BC;
$mint-light: #E2FFFA;
$mint-dark: #00605A;
