// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Define fonts for body and headers
$body-font: "Poppins", "Helvetica", "sans-serif";
$headers-font: "Poppins", "Helvetica", "sans-serif";

h1 {
  font-weight:600 !important;
  font-size: 40px !important;
  line-height: 48px !important;
  margin-bottom:0px !important;
}

h2 {
  font-weight:600 !important;
  font-size: 32px !important;
  line-height: 40px !important;
  margin-bottom:0px !important;
}

h3 {
  font-weight:500 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  margin-bottom:0px !important;
}

h4 {
  font-weight:400 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: 0.5px !important;
}

p {
  font-weight:400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom:0px !important;
}

a {
  text-decoration:none !important;
}

a:hover {
  text-decoration:none !important;
}

.gymally-semibold {
  font-weight:600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.gymally-link {
  font-weight:600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

.gymally-navbar {
  font-weight:500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color:#060F0E;
}

.gymally-small {
  font-weight:400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.gymally-xsmall {
  font-weight:400;
  font-size: 11px;
  line-height: 11px;
}

.gymally-tag {
  font-weight:500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration:none;
  color:white;
  text-align:center;
}

.big-p {
  font-weight:400;
  font-size: 20px !important;
  line-height: 160%;
  text-align:center;
  padding-bottom:24px;
}
