.button-primary {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff;
  background: #7BC5BC;
  text-align:center;
  padding:12px;
  border-radius:8px;
  border: solid #E2FFFA 1px;
  width: 100%;
}

.button-fw {
  display:block;
  width:100%;
}

.button-primary a{
  color:white !important;
}

.button-primary:hover {
  background: #060F0E;
  border: solid #000000 1px;
  color: #ffffff;
}

.button-secondary {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #7BC5BC;
  background: #ffffff;
  text-align:center;
  padding:12px;
  border-radius:8px;
  border: solid #7BC5BC 1px;
}

.button-secondary a{
  color:#7BC5BC !important;
}

.button-secondary:hover {
  background: #7BC5BC;
  border: solid #E2FFFA 1px;
  color: #ffffff;
}

.button-small {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight:500;
}

.button-xsmall {
  padding:8px;
  font-size: 10px;
  line-height: 10px;
}

.button-accept {
  background: #7BC5BC;
  color: white;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
  padding: 8px;
}

.button-deny {
  padding: 8px;
  background: #FFFFFF;
  border: 1px solid #7BC5BC;
  color: #7BC5BC;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}
.button-meetup {
  background: #FFFFFF;
  border: 1px solid #7BC5BC;
  color: #7BC5BC;
  box-sizing: border-box;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  padding:8px;
  font-size: 10px;
  line-height: 10px;
}

.text-link {
  color: #7BC5BC;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
