<i class="fa fa-solid fa-circle" data-bs-toggle="modal" data-bs-target="#meetupModal"></i>

<!-- Modal -->
      <div class="modal fade" id="meetupModal" tabindex="-1" role="dialog" aria-labelledby="meetupModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <% if meetup.user_one == current_user %>
                <h5 class="modal-title" id="meetupModalLabel">Training with <%= meetup.user_two.first_name %></h5>
              <% else %>
                <h5 class="modal-title" id="meetupModalLabel">Training with <%= meetup.user_one.first_name %></h5>
              <% end %>
              <div class="button-secondary close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </div>
            </div>
            <div class="modal-body">
              <i class="fa fa-solid fa-clock"></i> <%= meetup.date.strftime("%H:%M") %>
            </div>
            <div class="modal-footer">
              <div class="button-secondary gymally-semibold" data-bs-dismiss="modal"><%= link_to 'Cancel this training', friendship_delete_meetup_path(meetup.friendship, meetup), method: :delete, data: { confirm: "Are You sure you want to cancel this meetup?" } %></div>
            </div>
          </div>
        </div>
      </div>
