<div class="container">
  <div class="header">
    <h1>Your Calendar:</h1>
  </div>
  <%= month_calendar(events: @meetups_accepted) do |date, meetings| %>

    <%= date.strftime("%d") %>
    <% meetings.each do |meeting| %>
      <div>
      <% meeting %>
      <i class="fa fa-solid fa-circle"></i>
      </div>
    <% end %>
  <% end %>
</div>
