.separator-line {
  width:100%;
  height:1px;
  background:#BFC6C5;
}

.separator-line-light {
  width:100%;
  height:1px;
  background:$grey-light;
}

.select2-selection--multiple {
  padding-right: 30px !important;
}

.select2-results__option {
  background:white !important;
}

.select2-results__option--highlighted {
  background-color: $mint-dark !important;
}

.select2-selection--multiple:after {
  content: "";
  position: absolute;
  border: solid #5D6664;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 10px;
  right: 16px;
}

.select2-selection__choice {
  background: $mint !important;
  border:none !important;
  color:white;
}

#select2-user_gym_id-container {
  // background:green;
  //height:36px;
  //display:flex;
 // align-items: center;
}

.select2-selection__choice__remove {
  color:white !important;
  border:none !important;
}

.form-select.select.optional {
  background-color: white;
  // max-height: 32px;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
  border-radius: 2px !important;
}
.dashboard-filters > *:not(:last-child) {
  margin-bottom: 16px;
}

#button-box {
  display:flex;
  flex-direction: column;
}

.filter-button a {
  color:#7BC5BC;
  font-weight:500;
  letter-spacing: 1px;
}

.filter-button a:hover {
  color:#7bc5bc ;
}

.filter-button {
  background:#ffffff;
  height:48px;
  margin-bottom: 6px;
  border-radius:8px;
  border:#7bc5bc solid 2px;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 12px;
  margin-top: 12px;
}

.filter-closed {
  color: #060F0E;
  display:flex;
  justify-content:space-between;
}

#card-container {
  display:flex;
  flex-direction: column;
  gap: 12px;
}

#card-container h4{
padding-bottom:12px;
}

.user-card {
  overflow:hidden;
  display: flex;
  position: relative;
  gap:8px;
  align-items: center;
  // padding:12px;
  // border-radius: 8px;
  // border-top-left-radius: 40px !important;
  // border-bottom-left-radius: 40px !important;
  // background: #f6fefc;
  // box-shadow:  16px 16px 16px #f0f4f3,
  //          -4px -4px 12px rgba(255, 255, 255, 50);

  .user-card-right {
    //background:orange;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:4px;
  }

  .user-card-top {
    //background:orangered;
    display: flex;
    justify-content:space-between;
    color: #060F0E;
  }

  .user-card-bottom {
    //background:red;
    color:#5D6664;
  }

  .tag {
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    background: #7bc5bc;
    border-radius: 8px;
    margin-left:4px;
  }

  #tag-container {
    display:flex;
  }
  .friendship-card-button {
    position: absolute;
    right: 0px;
    bottom: 5px;
  }
}

.form-control {
  border: 1px solid $grey-medium !important;
  background-image: none !important;
  padding-right: 8px !important;
}

.form-select {
  border: 1px solid $grey-medium !important;
  background-image: none !important;
}

.form-label {
  font-weight:400;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: $mint;
}

@include media-breakpoint-up(sm) {
  #button-box {
    flex-direction: row;
    gap:24px;
      .button-primary {
        height:48px;
        flex-grow:1;
      }

      .filter-button {
        margin-bottom: 0px;
        margin-top: 0px;
        width: 280px;
        flex-grow:1;
      }
  }
}

@include media-breakpoint-up(md) {
  #card-container {
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .user-card {
    width:48%;
    gap:16px;
  }
}
