.db-filter {
  background:hotpink;
  display:flex;
  flex-direction:column;
}

.filter-top {
  background:turquoise;
}

.filter-bottom {
  background:darkcyan;
}

#card-container {
  display:flex;
  flex-direction: column;
  gap: 0px;
}

.user-card {
  overflow:hidden;
  display: flex;
  position: relative;
  height:72px;

  .user-card-right {
    flex-grow:1;
    padding-left:12px;
    padding-top:8px;
  }

  .user-card-top {
    display: flex;
    justify-content:space-between;
    padding-bottom:4px;
    color: #060F0E;
  }

  .user-card-bottom {
    color:#5D6664;
  }

  .tag {
    padding: 2px 4px;
    background: #7bc5bc;
    border-radius: 8px;
    margin-left:4px;
  }

  #tag-container {
    display:flex;
  }
}
