.separator-line {
  width:100%;
  height:1px;
  background:#BFC6C5;
}
.select2-selection--multiple {
  padding-right: 30px !important;
}

.select2-selection--multiple:after {
  content: "";
  position: absolute;
  border: solid #0e0000;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 10px;
  right: 16px;
}

.form-select.select.optional {
  background-color: white;
  max-height: 32px;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
  border-radius: 2px !important;
}
.dashboard-filters > *:not(:last-child) {
  margin-bottom: 16px;
}

.filter-button a {
  color:#060F0E;
  text-decoration:underline;
  font-weight:500;
  letter-spacing: 1px;
}

.filter-button a:hover {
  color:#7bc5bc ;
}

.filter-button {
  background:#ffffff;
  padding:6px;
  margin-bottom: 6px;
  border-radius:8px;
  border:#7bc5bc solid 2px;
  text-align:center;
  width:100%;
  margin-bottom: 12px;

}

.filter-closed {
  color: #060F0E;
  display:flex;
  justify-content:space-between;
}

.filter-top {
  // background:pink;
}


#card-container {
  display:flex;
  flex-direction: column;
  gap: 0px;
}

#card-container h4{
padding-bottom:12px;
}

.user-card {
  overflow:hidden;
  display: flex;
  position: relative;
  height:72px;

  .user-card-right {
    flex-grow:1;
    padding-left:12px;
    padding-top:8px;
  }

  .user-card-top {
    display: flex;
    justify-content:space-between;
    padding-bottom:4px;
    color: #060F0E;
  }

  .user-card-bottom {
    color:#5D6664;
  }

  .tag {
    padding: 2px 4px;
    background: #7bc5bc;
    border-radius: 8px;
    margin-left:4px;
  }

  #tag-container {
    display:flex;
  }
  .friendship-card-button {
    position: absolute;
    right: 0px;
    bottom: 5px;
  }
}
