.friend-card {
  overflow:hidden;
  display: flex;
  position: relative;
  height:72px;
  align-items: center;

  .meetup-card-top {
    display: flex;
    padding-bottom:4px;
    color: #060F0E;
  }
  .tag {
    padding: 2px 4px;
    background: #7bc5bc;
    border-radius: 8px;
    margin-left:4px;
  }

  #tag-container {
    display:flex;
  }
}
