.friend-card {
  overflow:hidden;
  display: flex;
  position: relative;
  height:72px;
  align-items: center;

  .upcoming-card-right {
    flex-grow:1;
    padding-left:0px;
    padding-top:8px;
  }

  .meetup-card-top {
    display: flex;
    padding-bottom:4px;
    color: #060F0E;
  }
  .tag {
    padding: 4px 6px;
    background: #7bc5bc;
    border-radius: 8px;
    margin-left:4px;
  }

  #tag-container {
    display:flex;
  }
  .upcoming-card-top {
    display: flex;
    padding-bottom:4px;
    color: #060F0E;
  }

  .upcoming-tag {
    padding: 2px 2px;
    background: #7bc5bc;
    border-radius: 8px;
    margin-right:4px;
  }
}
