.friend-card {
  overflow:hidden;
  display: flex;
  position: relative;
  align-items: center;

  .friend-card-right {
    flex-grow:1;
    padding-left:12px;
  }

  .friend-card-top {
    display: flex;
    justify-content:space-between;
    // padding-bottom:4px;
    color: #060F0E;
  }

  .friend-card-bottom {
    color:#5D6664;
  }

  .meetup-card-top {
    display: flex;
    padding-bottom:4px;
    color: #060F0E;
  }

}
.greytext {
  color: $grey-dark;
  font-weight: 400;
}

.grey-light-text {
  color: $grey-medium;
  font-weight: 400;
}

.greentext {
  color: $mint !important;
}

.all-chats {
  .user-card {
    padding-bottom:16px;
  }

  h4 {
    color: $grey-medium;
    border-bottom: 1px solid $grey-medium;
    padding-bottom:4px;
  }
}
