// Specific CSS for your home-page
.landing-container {
  background:white;
  color: $black !important;
}

.landing-container > *:not(:last-child) {
  // margin-bottom: 24px;
}

.landing-box {
  // background:blue;
  padding:40px 24px;
}

.landing-box h1{
  margin-bottom:8px !important;
}

.landing-box > *:not(:last-child) {
  margin-bottom:24px;
}

.first-box {
  background-image: url("https://res.cloudinary.com/dr24t0rw2/image/upload/v1647605961/stage_mobile-bg_i17erd.jpg");
  background-size: cover;
  height: 100vh;
  text-align:center;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-white {
  display:flex;
  flex-direction: column;
  align-items: center;

    p {
      text-align: center;
    }
  }

.bg-mint {
  background: $mint;
  color:white;

  .top-box {
    //background:greenyellow;
    text-align:center;
    }

    .top-box > *:not(:last-child) {
      margin-bottom: 16px !important;
    }

    .bottom-box {
      //background:green;
      display:flex;
      flex-direction:column;
    }

    .product-li {
      // background:teal;
      display:flex;
      align-items:center;
      justify-content: center;
    }
}

.stage-img-des {
  display:none;
}

.prod-img-des {
  display:none;
}

.form-button {
  display:flex;
}

@include media-breakpoint-up(sm) {
  .button-primary {
    width:280px;
  }
}

@include media-breakpoint-up(md) {

  .landing-box {
  padding:80px;
  }

  .first-box{
    background-image: url("https://res.cloudinary.com/dr24t0rw2/image/upload/v1647875915/desktop-stage-bg_vetnvp.jpg");
    background-size: cover;
    height:100%;
    flex-direction:row;
    gap:40px;
  }

  h1 {
    font-size:72px !important;
    line-height:80px !important;
  }

  .big-p {
    font-size:20px !important;
    line-height:150% !important;
    letter-spacing:1px;
    font-weight: 400;
  }

  .text-box{
    display:flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    gap:24px;
    justify-content: center;
  }

  .stage-img-mob {
    display:none;
  }

  .stage-img-des {
    display:block;
    width: 60vh;
    // height: fit-content;
  }

  .bg-white {
    display:flex;
    flex-direction: column;
    align-items: center;

    .text-fix {
      width:75%;
      padding-bottom:0px;

      p {
        text-align: center;
      }
    }
  }

  .bg-mint {
    display:flex;
    flex-direction: column;
    align-items: center
  }

  .top-box {
    width:60%;

    p {
      font-size:20px !important;
      line-height:150% !important;
      letter-spacing:1px;
      font-weight:400;
    }
  }

  .bottom-box {
    flex-direction:row !important;
    align-items:flex-start;
    gap:24px;
  }

  .product-li {
    flex-direction: column;
    width:24%;
  }

  .prod-img-mob {
    display:none;
  }

  .prod-img-des {
    display:block;
    // height: fit-content;
  }

  .s-to-p {
    font-size:16px;
    line-height:24px;
  }
}

.footer-home {
  justify-content: center
}

.signup-container {
  padding:40px 24px;
  background-image: url("https://res.cloudinary.com/dr24t0rw2/image/upload/v1647963170/landing-stage_rrxzu3.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .top-img {
    text-align: center;
  }

  h2 {
    padding-bottom:16px;
    color: $black;
  }

  .form-label {
    color: $grey-dark;
  }

  .alternative-links {
    padding-top:24px;
    text-align:center;
  }
}

.enter-narrow {
  height: 100vh;
}

h4 {
  color: $grey-dark;
  border-bottom: 1px solid $grey-medium;
  padding-bottom:4px;
}


@include media-breakpoint-up(md) {
  .signup-container {
    padding:40px 80px;
    background-image: url("https://res.cloudinary.com/dr24t0rw2/image/upload/v1647875915/desktop-stage-bg_vetnvp.jpg");
    background-size: cover;
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items: center;


    .button-primary {
      width: 100%;
    }
  }

  h2 {
    font-size:40px !important;
    line-height:48px !important;
  }

  h4 {
    font-size: 22px !important;
  }

  .text-narrow {
    width:400px;
  }

  .text-narrow {
    width:400px;
  }
}
