// Import page-specific CSS files here.
@import "home";
.user_sport {
  width: unset !important;
}

.container {
  background:rgb(255, 255, 255);
  max-width:100%;
  padding-left:24px;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:24px;
}
