// Import page-specific CSS files here.
@import "home";

.container {
  max-width:100%;
  padding-left:24px;
  padding-top:24px;
  padding-bottom:72px;
  padding-right:24px;
  // background:greenyellow;
}

.container > *:not(:last-child) {
  margin-bottom: 24px;
}

.select2 {
  width: 100% !important;
}

.all-friends {
  h4 {
    color: $grey-medium;
    border-bottom: 1px solid $grey-medium;
    padding-bottom:4px;
  }
}

.all-friends-container {
  //background:red;
  padding-bottom:32px;
}
