// Import page-specific CSS files here.
@import "home";
.user-card {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: stretch;
  text-decoration: none;
  height: 80px;
  background-color: rgb(157, 255, 0);
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 2%;
}
.user-card-right {
  position: relative;
  margin-left: 12px;

}
.user-card img {
  object-fit: cover;
  vertical-align: center;
  border-radius: 50%;
  align-items: stretch;

}
.user-card a {
  color: black;
  text-decoration: none;
}
.user-card-top {
  left: 0px;
  top: 0px;
  display: flex;
  align-items: stretch;
  height: 32px;
  text-decoration: none;
}
.user-card-bottom {
  position: absolute;
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  color: #5D6664;
  align-self: stretch;
}
.user-sport {
  padding: 2px 3px;
  position: static;
  background: #7BC5BC;
  border-radius: 8px;
}
.user-sport-card {
  top: 0px;
  right: 0px;
  font-size: 12px;
  display: flex;
  align-items: stretch;
}

.container {
  background:rgb(255, 255, 255);
  max-width:100%;
  padding-left:24px;
  padding-top:40px;
  padding-bottom:64px;
  padding-right:24px;
}
