.meetup-field {
  background-color: white !important;
  margin-bottom: 16px;
  border: 1px solid #ced4da;
  border-radius: 2px;
  line-height: 1.5 !important;
  width:100%;
  height: 42px;
  padding: 8px;
  color: $grey-dark;

  .select2-container--default {
    margin-right:20px;
  }
}

#meetup_sport {
  display: block;
  width: 100%;
  padding: 8px;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $grey-dark;
  border: 1px solid #ced4da;
  border-radius: 2px;
  background-color: white !important;
  margin-top: 12px;
  margin-bottom: 24px;
}
