.settings {
  //background:yellow;
}

.settings > *:not(:last-child) {
  margin-bottom: 16px;
}

.right {
  // background:green;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.settings-info {
  overflow:hidden;
  // background:pink;
  display:flex;
  flex-grow:1;
  padding-left:16px;
  flex-direction: column;
  justify-content:center;
}

.settings-half {
  // background:darkblue;
  display:flex;
  justify-content: space-between;
  gap:32px;
}

.settings-box {
  // background:orange;
  color: $mint;
  flex-grow:1;
}

.settings-input {
  color: $grey-dark;
  padding-top:2px;
}

.settings-tags-box {
  display:flex;
  // background:purple;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 4px;
}

.modal-tags-box {
  display:flex;
  // background:purple;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 4px;
}

.settings-tag {
  padding: 2px 4px;
  background: #7bc5bc;
  border-radius: 8px;
  margin-left:4px;
  font-weight:500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration:none;
  color:white;
  text-align:center;
  flex-grow:0;
}

.modal-tag {
  padding: 2px 4px;
  background: #7bc5bc;
  border: 1px solid white;
  border-radius: 8px;
  font-weight:500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-decoration:none;
  color:white;
  text-align:center;
  flex-grow:0;
  margin-right:8px;
}

.user-detail-content {
  padding-top:8px;
  // background:red;
  display:flex;
  flex-direction: column;
}

.user-detail-content > *:not(:last-child) {
  margin-bottom: 16px;
}

.u-d-box {
  // background:hotpink;
}

//.likes-to-train {
//  padding-top: 4px;
//  padding-bottom: 4px;
//  padding-left: 8px;
//  padding-right: 8px;
//}

@include media-breakpoint-up(md) {
  .settings-half {
    gap: 16px;
    flex-direction: column;
  }
}
