<h1><%= @user.first_name.capitalize %>'s Dashboard</h1>

<h2>My gyms</h2>
   <% @my_gyms.each do |gym| %>
   <% end %>


 <h2>My friendships</h2>
  <% @my_friendships.each do |friendship| %>
  <% end %>
