
<div class=container-top>
<div class="gymally-semibold">
<%= gym.name %>
</div>
</div>

<div class=container-bottom>
<div class="gymally-semibold"><%= image_tag "heart.svg" %> <%= gym.users.size %> Allies</div>
<div class="gymally-small">
<div><%= gym.address %></div>
</div>
</div>
