<%= render "shared/userbar", my_gym: current_user.gym, user: current_user %>
  <div class= "mapbox">
    <div style="width: 100%; height: 900px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>
