.chatroom {
  background: $mint-light;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-flow: column;

    .message {
      border-radius: 1em;
      padding: 0.25em 0.75em;
      margin: 0.0625em;
      max-width: 50%;

    }

    .message.sender {
      align-self: flex-start;
      background-color: $mint-dark;
      color: #fff;
    }

    .message.recipient {
      align-self: flex-end;
      background-color: $mint;
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}
