.mapboxgl-popup {
  max-width: 75%;
  background-color: transparent;
  border-radius: 24px;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 0px 0px 0px !important;
}

.mapboxgl-ctrl-geocoder mapboxgl-ctrl{
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 311px;
  height: 37%;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;

}

.mapbox{
  margin-top: 0px;
}

.mapboxgl-canvas{
  object-fit: cover;
  width: 100% !important;
}

.container-top{
  background-color: #7BC5BC;
  color: white;
  text-align: left;
  padding: 16px;
}

.container-bottom{
  background-color: white;
  color: black;
  text-align: left;
  padding: 16px;
}
.mapboxgl-popup-close-button{
  color: white;
  width: 28px;
  height: 24px;
  font-size:24px;
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;

}
.mapboxgl-ctrl-geocoder--input{
  width: 92vw !important;
}
