.mapboxgl-popup {
  max-width: 75%;
  border-radius: 24px;
  background-color: transparent;

}

.mapboxgl-popup-content {
  text-align: center;
  background-color: transparent !important;
  border-radius: 24px;
  padding: 0px 0px 0px !important;
  box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.15);
  font-family: 'Poppins', sans-serif;
}

.mapboxgl-ctrl-geocoder mapboxgl-ctrl{
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  width: 311px;
  height: 37%;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
}

.mapbox{
  margin-top: 0px;
}

.mapboxgl-canvas{
  object-fit: cover;
  width: 100% !important;
}

.container-top{
  background-color: #7BC5BC;
  color: white;
  text-align: left;
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px
}

.container-bottom{
  background-color: white;
  color: black;
  text-align: left;
  padding: 16px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.map-ally-container{
  display:flex;
  gap:8px;
}

.map-ally-card{
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.container-bottom > *:not(:last-child) {
  margin-bottom:16px;
}

.mapboxgl-popup-close-button{
  color: white;
  width: 22px;
  height: 24px;
  font-size:22px;
  background-color: #7BC5BC;
  margin: 0px 4px !important;
  padding: 4px 4px !important;
  border: none !important;

}
.mapboxgl-ctrl-geocoder--input{
  width: 92vw !important;
}

.map-address {
  padding-top:8px;
}

.top3-allies-head {
  font-size:16px;
  line-height:24px;
  padding-bottom:4px;
}
