.mapboxgl-popup {
  max-width: 311px;
  background-color: #7BC5BC;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #7BC5BC;
  color: #7BC5BC;
}
.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
}
.mapboxgl-marker svg {
fill: $mint
}

.mapbox{
  margin-top: 0px;
}
