.around {
  position: fixed;
	bottom: 0;
	width: 100vw;
  z-index: 6;
}

.nav {
	// bottom: 0;
	// width: 100vw;
	background: linear-gradient(358deg, #FFFFFF 42.21%, rgba(255, 255, 255, 0) 199.67%);
  backdrop-filter: blur(10px);
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navic-box {
  width: 100%;
  height:30px;
}

.background-icon {
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-calendar {
  background-image: url(calendar.svg);
}

.icon-calendar-active {
  background-image: url(calendar-active.svg);
}

.icon-chat {
  background-image: url(chat.svg);
}

.icon-chat-active {
  background-image: url(chat-active.svg);
}

.icon-home {
  background-image: url(home.svg);
}

.icon-home-active {
  background-image: url(home-active.svg);
}

.icon-person {
  background-image: url(person.svg);
}

.icon-person-active {
  background-image: url(person-active.svg);
}

.icon-pin {
  background-image: url(pin.svg);
}

.icon-home-pin {
  background-image: url(pin-active.svg);
}

.actinav {
  color: #7BC5BC;
}

.box {
  text-align:center;
  width:51px;
  padding-top:8px;
  padding-bottom:16px;
}

.box a{
  text-align:center;
  text-decoration:none;
  display: block;
  color:#5F6665;
}

.box a:hover {
  color:#7BC5BC;
}

@include media-breakpoint-up(md) {
  .separator-line-light {
    display:none;
  }

  .nav {
    border-radius: 48px;
    border: 1px solid $grey-light;
    width: 60vw;
    margin-bottom:16px;
  }

  .box {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .gymally-navbar {
    font-size: 14px;
  }

  .around {
    // background:red;
    display:flex;
    justify-content: center;
  }
}
