.calendar-box {

  h4 {
    color: $mint;
    border-bottom: none;
    padding-bottom:0px;
  }
}

.simple-calendar {
// box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
// background-color: white;
// border-radius: 12px;
// padding: 8px;

  .table > :not(:first-child) {
    border-top: 1px solid $grey-medium;
    width: 50px;
  }

  td {
    padding-top:16px;
  }

  .calendar-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding-left: 6px;
    padding-right: 6px;
    //padding-top: 12px;
    padding-bottom: 4px;
    color: $grey-dark;
  }
  .prev-next i {
    -webkit-text-stroke: 2px white;
    text-decoration: none;
    color: $grey-medium;
  }
  .prev-next span:first-child {
    padding-right: 6px;
    }
  .prev-next span:last-child {
    padding-left: 6px;
  }

  tbody {
    border:none;
  }

  tr:first-child {
    padding-top: 30px !important;
  }
  thead tr th {
    border:none;
  }
  th:first-child {
  }
  tr:first-child td {
    padding-top: 16px;
  }
  th:last-child {
  }
  tr {
    border:none;
  }
  .table-bordered {
    border:none;
  }
  .day {
    //background-color: white;
    border:none;
    border-radius: 12px;
    color: $grey-medium;
    text-align: center;
    height: 56px;
  }
  .day > i {
    -webkit-text-stroke: 4px white;
    border-radius: 10px;
  }
  .current-month {
    color: $black;
  }
  .wday-0 {
  }
  .wday-1 {

  }
  .wday-2 {
  }
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
  }
  .past {}
  .future {}

  .prev-month {
    background:none;
  }
  .next-month {
    background:none;
   }
  .current-month {
    color:$grey-dark;
  }

  .has-events {
    color: $mint;
    font-weight:bold;
    //height: 60px;
    //padding-bottom: 2px !important;

    img {
      display:none;
    }
  }
  .modal-dialog {
    padding-top: 200px;
    border-radius: 50px !important;
  }
  .start-date {
  }

  .today {
    background:none;
    background:none;
    font-weight:bold;
    color: $black;
  }

}

.cal-details {
  //background:red;
}

.cal-details > *:not(:last-child) {
  margin-bottom: 16px;
}

.invitations {
  h4 {
    margin-bottom: 0px !important;
    color: $grey-medium;
    border-bottom: 1px solid $grey-medium;
  }

  .friend-card {
    width:100%;
  }
}

.invitations > *:not(:first-child) {
  padding-top: 12px;
}

.cal-split {
  display:flex;
  flex-direction:column;
}


@include media-breakpoint-up(md) {


  .cal-split {
    flex-direction:row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 40px;
    gap:80px;
  }

  .cal-details {
    width:480px;

    h4 {
      padding-bottom: 4px;
    }

    .avatar-small {
      width:64px;
      height:64px;
    }
  }

  .cal-details > *:not(:last-child) {
    margin-bottom: 40px;
  }

  .invitations > *:not(:first-child) {
    padding-top: 16px;
  }
}
