.popup-main {
  background-color: $mint;
  color: white;
  padding: 16px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;


    .user {
      display: flex;
      flex-direction: row;
      align-items: center;

      .user-info {
        flex-grow: 0;
        padding-left: 8px;
        color: white;

        #tag-container {
          display:flex;
        }

        .tag {
          padding: 4px 6px;
          background: #7bc5bc;
          border: 1px solid white;
          border-radius: 8px;
          margin-top: 8px;
          margin-right:4px;
        }


      }
    }

    button {
      align-self: flex-start;
      color: white;
    }
  }

  .quote {
    padding: 8px;
    color: white;
  }

}
.popup-container {
  border-radius: 20px !important;

}
.modal-content {
  border-radius: 20px !important;
}

.popup-bottom {
  background-color: white;
  // color: white;
  padding: 16px;
  text-align:center;
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
