.popup-main {
  background-color: $mint;
  color: white;
  padding: 16px;
  border-radius: 16px;
  // border-top-left-radius: 20px !important;
  // border-top-right-radius: 20px !important;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;


    .user {
      display: flex;
      flex-direction: row;
      align-items: center;

      .user-info {
        flex-grow: 0;
        padding-left: 8px;
        color: white;

        #tag-container {
          display:flex;
        }

        .tag {
          padding: 2px 4px;
          background: #7bc5bc;
          border: 1px solid white;
          border-radius: 8px;
          margin-top: 8px;
          margin-right:4px;
        }


      }
    }

    button {
      align-self: flex-start;
      color: white;
    }
  }

  .quote {
    padding: 8px;
    color: white;
  }

}
.popup-container {
  border-radius: 16px !important;
}

.modal-header {
  background: $mint;
  padding: 0px;
  border: none;
  color:white;
  padding:16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.header-input {
  // background: rgb(131, 1, 66);
  display:flex;
  gap:8px;
  align-items: center;
}

.modal-body {
  // background:darkcyan;
  padding: 0px;
  text-align: left;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-top:16px;
}

.modal-content {
  border-radius: 16px !important;
  background:white;
  border: none;
}


.popup-bottom {
  background-color: white;
  //background:palegoldenrod;
  // color: white;
  padding: 16px;
  text-align:center;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.event-detail {
  color: $grey-dark;
}
